/* simple-menubar.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 16px;
  --almost-white: #f3f3f3;
  --default-text-color: #00132c;
  --radius-default: 5px;
}

div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap:  1rem;
  padding: 0.25rem 3rem 1.125rem;
}

div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--almost-white);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}

div > a[aria-current] {
  color: var(--default-text-color);
  background-color: #cad9ef;
  border-radius: var(--radius-default);
  text-decoration: none;
}
